* {
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100%;
  overflow-x: hidden;
}
body {
  background-image: url("./assets/images/notebook-with-pencil-top.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
