.note-site{
    background-color: rgba(0, 0, 0, 0.425);
}

.dot i {
    cursor: pointer;
}

.dropdown-item {
    cursor: pointer;
}

.note {
    border-style: solid;
    border-width: 10px 0 0 0;
    position: relative;
    border-radius: 6px 6px 40px 6px;
    height: 185px;
}

.note .content-note p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.trangle {
    width: 40px;
    height: 40px;
    border-radius: 6px 0 40px 0;
}



a {
    cursor: pointer;
}





@media(min-width:992px) {


    a {
        font-size: 18px;
    }
}

@media(max-width:991px) {
    h3 {
        font-size: 18px;
    }

    a {
        font-size: 16px;
    }

    nav {
        height: 100vh;

    }
}

@media(max-width:768px) {
    h3 {
        font-size: 18px;
    }



    a {
        font-size: 16px;
    }

    nav {
        height: 100vh;
   
    }

}