<div class="note-site min-vh-100" (click)="clearData()">
  <div class="row g-0 ">
    <div class="col-lg-2 col-md-2 col-2 position-relative min-vh-100 ">
      <nav
      class="bg-success p-lg-4 p-md-4 p-2 pb-4 d-flex justify-content-between align-items-center flex-column position-fixed h-100 z-3"
    >
      <div class="logo mt-4">
        <h3 class="text-white d-flex gap-2 align-items-center">
          <i class="fa-solid fa-note-sticky text-warning"></i>
          <span class="d-none d-md-block">Note App</span>
        </h3>
      </div>
      <button
        class="btn btn-warning"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        <i class="fas fa-plus-circle me-lg-2"></i>
        <span class="d-none d-lg-inline-block">Add Note</span>
      </button>
      <div class="logout">
        <a
          class="text-decoration-none text-white d-flex gap-2 align-items-center"
          (click)="logOut()"
          ><i class="fas fa-sign-out"></i>
          <span class="d-none d-md-block"> LogOut</span>
        </a>
      </div>
    </nav>
    </div>
    <div class="col-lg-10 col-md-10 col-10">
      <section class="py-5">
        <div class="container">
          
          <div class="search mb-4 d-flex w-100 align-items-center z-3">
            <input
              type="text"
              class="form-control rounded-end-0 py-2"
              [(ngModel)]="searchKey"
              placeholder="Search Notes"
            />
            <button class="btn btn-primary rounded-start-0 py-2">
              <i class="fas fa-search"></i>
            </button>
          </div>
    
          <!-- notes -->
          <div class="notes pb-5">
            <div class="row gy-4 ">
              <div
                class="col-lg-4 col-md-4"
                *ngFor="let item of noteData | search : searchKey"
              >
                <div class="note shadow p-3 border-warning position-relative bg-white ">
                  <div
                    class="header-note d-flex justify-content-between align-items-center"
                  >
                    <div class="title-note d-flex justify-content-between">
                      <h2 class="fs-4 text-primary-emphasis">
                        {{ item.title }}
                      </h2>
                    </div>
                    <div class="dot">
                      <i
                        class="fas fa-ellipsis fs-4"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      ></i>
                      <ul class="dropdown-menu">
                        <li>
                          <button
                            class="dropdown-item text-success"
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal1"
                            (click)="updateNoteData(item._id)"
                          >
                            <i class="fas fa-edit me-2"></i> Edit
                          </button>
                        </li>
                        <li>
                          <a
                            class="dropdown-item text-danger"
                            (click)="deleteNoteData(item._id)"
                            ><i class="fas fa-trash me-2"></i> delete</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
    
                  <div class="content-note mb-5">
                    <p
                      class="fs-5 card-text text-dark-emphasis overflow-hidden content"
                    >
                      {{ item.content }}
                    </p>
                  </div>
                  <p class="time">
                    {{ item.createdAt | slice : 0 : 10 }}
                  </p>
                  <div
                    class="trangle position-absolute bottom-0 end-0 bg-body-secondary"
                  ></div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
 


</div>
<!-- Modal edit Task-->
<div
class="modal fade"
id="exampleModal1"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">
        Update Note
      </h1>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <form
        [formGroup]="noteForm"
        (ngSubmit)="updateNoteData(data._id)"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            formControlName="title"
            id="title"
          />
        </div>
        <div class="mb-3">
          <label for="details" class="form-label">Details</label>
          <textarea
            class="form-control"
            id="details"
            formControlName="content"
            rows="3"
          ></textarea>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="clearData()"
          >
            Close
          </button>
          <button class="btn btn-warning">Edit Note</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
<!-- Modal Add Task-->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Note</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="noteForm" (ngSubmit)="addNoteData()">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input
              type="text"
              class="form-control"
              formControlName="title"
              id="title"
            />
          </div>
          <div class="mb-3">
            <label for="details" class="form-label">Details</label>
            <textarea
              class="form-control"
              id="details"
              formControlName="content"
              rows="3"
            ></textarea>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button class="btn btn-success">Add Note</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
